.graph-options {
  width: max-content;
  margin: 1rem auto 2rem;
  /* display: flex; */
}
.graph-options select {
  margin-right: 0.6em;
}

.graph-options p {
  max-width: 55ch;
}
.select-container {
  display: flex;
}
.container {
  width: 90%;
  max-width: 1550px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 3rem;
}
.graph,
#graph {
  width: 50%;
}
.toggle-container {
  display: flex;
  align-items: center;
}
.toggle-container p {
  margin-right: 0.6rem;
  margin-left: auto;
}
