.graph-options {
  width: max-content;
  margin: 1rem auto 2rem;
  /* display: flex; */
}
.graph-options select {
  margin-right: 0.5em;
}

.select-container {
  display: flex;
}
.container {
  width: 90%;
  max-width: 1550px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 3rem;
}
.graph,
#graph {
  width: 50%;
}
