.graph-options {
  /* display: flex; */
  order: 1;
}
.graph-options select {
  margin-right: 0.6em;
}

.graph-options p {
  width: 55ch;
  max-width: 100%;
}
.select-container {
  display: flex;
}
.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.dash-title {
  width: 100%;
  margin-top: 3rem;
}
.graph,
#graph {
  width: 50%;
}
.toggle-container {
  display: flex;
  align-items: center;
}
.toggle-container p {
  margin-right: 0.6rem;
  margin-left: auto;
}

.kpis {
  height: max-content;
  margin: 2rem auto;
  background-color: #003f5c;
  color: rgba(250, 250, 255, 0.5);
  padding: 1rem 3rem;
  text-transform: uppercase;
  text-align: center;
  order: 2;
}

.kpi-value {
  margin-bottom: -7px;
  color: white;
}

@media only screen and (min-width: 600px) {
  .container {
    display: flex;
  }
  .kpis {
    display: flex;
    margin: 0 auto;
  }

  .kpi + .kpi {
    margin-left: 3em;
  }
}
